* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    line-height: 1.6;
    color: #333;
  }
  
  /* NAVBAR */
  header {
    background: #111;
    padding: 15px 40px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #fff;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  /* HOME */
  .home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
    text-align: center;
  }
  
  .home h2 span {
    color: #007bff;
  }
  
  .btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* SECTIONS */
  section {
    padding: 60px 80px;
  }
  
  section h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* ABOUT */
  .about p {
    max-width: 800px;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
  }
  
  /* SKILLS */
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  
  .skill {
    background: #eee;
    padding: 12px 20px;
    border-radius: 5px;
  }
  
  /* PROJECTS */
  .projects {
    background: #f9f9f9;
  }
  
  .project-card {
    max-width: 700px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
  }
  
  .project-card a {
    margin-right: 15px;
    color: #007bff;
    text-decoration: none;
  }
  
  /* CONTACT */
  .contact {
    text-align: center;
  }
  
  /* FOOTER */
  footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 15px;
  }
  
  /* RESPONSIVE */
  @media (max-width: 768px) {
    section {
      padding: 40px 20px;
    }
  
    .nav-links {
      display: none;
    }
  }
  